{% extends "feed/base.html" %}
{% load widget_tweaks %}
{% load user_filters %}
{% block content %}
  {% include "feed/navbar.html" %}
  <div class="card mx-auto my-4 larger-font-size d-flex flex-row" style="width: 935px; max-width: 97vw; min-height: 530px">
    <div class="d-none border-right d-md-flex flex-column justify-content-between" style="width: 236px">
      <ul class="list-group">
        <li class="pl-4 py-3 list-group-item-action"><a href="{% url 'profile-edit' %}">Edit profile</a></li>
        <li class="pl-4 py-3 list-group-item-action stronger"><a href="{% url 'change-password' %}">Change password</a></li>
      </ul>
      <div class="p-4 border-top">
        <div class="smaller">Fake Instagram</div>
        <p class="text-secondary" style="line-height: 1.25rem"><small>Control settings for connected experience across this fake Instagram app can be managed here.</small></p>
      </div>
    </div>
    <div class="py-5" style="width: 699px">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-4 mx-0 justify-content-center">
          <div class="col-2 col-sm-1 col-md-3 d-flex justify-content-md-end align-items-center">
            <img id='profile-pic' class="rounded-circle profile-edit-image" src="{{ user.profile.pic.url }}">
          </div>
          <div class="col-9 col-sm-10 col-md-9">
            <div style="font-size: 24px; line-height: 32px">{{ user.username }}</div>
          </div>
        </div>
        {% for field in form.visible_fields %}
          <div class="row my-2 mx-0">
            <div class="col-11 mx-auto col-md-3 mx-md-0 d-flex justify-content-md-end text-right align-items-center">
              <span class="stronger">{{ field.label|title }}</span>
            </div>
            <div class="col-11 mx-auto mx-md-0 col-md-8">
              {% render_field field class="form-control py-2 mb-2" style="color: inherit; font-size: inherit" placeholder=field.label|title %}
            </div>
          </div>
        {% endfor %}

        <div class="row mx-0">
          <div class="d-none d-md-inline col-3 d-flex justify-content-end align-items-center"></div>
          <div class="col-11 mx-auto col-md-8 mx-md-0">
            {% if form.errors %}
              <div class="text-danger">
                {{ form.errors|get_first_of_dict }}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="row mx-0 mt-5 mb-4">
          <div class="d-none d-md-inline col-3 d-flex justify-content-end align-items-center"></div>
          <div class="col-11 mx-auto col-md-8 mx-md-0">
            <button class="btn btn-primary stronger px-2 py-1" type="submit">Change Password</button>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock content %}
{% block script %}<script>
  document.getElementById('id_pic').onchange = () => {
      const [file] = document.getElementById('id_pic').files
      if (file) document.getElementById('profile-pic').src = URL.createObjectURL(file)
  }

</script>{% endblock %}